<footer>
  <div class="container">
    <div class="row">
      <div class="col l12 s12" id="links">
        <h6>Here are some links to help you start:</h6>
        <a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes  </a>
        <a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">  Documentation  </a>
        <a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container" id="copyright">
    © 2018 Trainee Carla Moreno
    </div>
  </div>
</footer>
